/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    overflow-y: hidden;
}

/* Заголовочная часть */
.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: grey;
}

.logo {
    width: auto;
    max-height: 220%;
    margin-left: 0px;
    margin-top: 0px;
}

.page-title {
    text-align: center;
    margin-right: 380px;
    font-size: 24px;
    line-height: 10px;
}

/* Боковые панели */
.left-panel, .right-panel {
    position: fixed;
    top: 70px;
    bottom: 100px;
    width: 140px;
    background-color: lightsteelblue;
}

.left-panel {
    left: 0;
}

.right-panel {
    right: 0;
}

/* Центральная часть */
.content {
    margin: 10px 140px 20px 140px;
    min-height: calc(100vh - 0px);
}

/* Футер */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: steelblue;
    text-align: center;
    color: black;
    font-size: 16px;
    line-height: 1.0;
}

.footer p {
    margin-top: 15px;
}

/* Ссылки в левом боковом меню */
.links {
    list-style-type: none;
    padding: 5px;
}

.links a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    padding: 5px
}

/* Слайдер */
.slider {
     overflow: hidden;
     width: 100%;
     height: 430px;
     position: relative;
        }

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    display: block;
}

.centered-table {
    display: flex;
    justify-content: center;
}

.centered-table table {
    margin: 0 auto;
}